# SPI
CONFIG_SPI_BCM2835=y
CONFIG_SPI_BCM2835AUX=y
CONFIG_SPI_SPIDEV=y
# sc16is752 (/dev/ttySC0 (GPS) and /dev/ttySC1 (Telem))
CONFIG_SERIAL_SC16IS7XX_CORE=y # 6.1 and 6.6
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_SERIAL_SC16IS7XX_SPI=y
# PWM
CONFIG_PWM_BCM2835=y
CONFIG_PWM_PCA9685=y
# # I2C
CONFIG_I2C_BCM2835=y
CONFIG_I2C_BCM2708=y # 6.1 and 6.6
CONFIG_I2C_MUX_GPIO=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_MUX_GPIO=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_I2C_MUX_REG=y
# Serial
CONFIG_SERIAL_AMBA_PL011=y # For RPi4's PL011 UART (RC)
# USB Wi-Fi Dongle
CONFIG_MT7921U=m
# Video
CONFIG_DRM=y
CONFIG_USB_VIDEO_CLASS=m
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=y
CONFIG_VIDEO_DEV=m
CONFIG_VIDEO_V4L2_I2C=y
CONFIG_VIDEO_V4L2_SUBDEV_API=y
CONFIG_VIDEO_MUX=m
CONFIG_VIDEO_BCM2835_UNICAM=m
CONFIG_VIDEOBUF2_CORE=m
CONFIG_VIDEOBUF2_V4L2=m
CONFIG_VIDEOBUF2_MEMOPS=m
CONFIG_VIDEOBUF2_DMA_CONTIG=m
CONFIG_VIDEOBUF2_VMALLOC=m
CONFIG_VIDEOBUF2_DMA_SG=m
CONFIG_VIDEO_CAMERA_SENSOR=y
CONFIG_VIDEO_IMX708=m
CONFIG_BCM_VIDEOCORE=y
CONFIG_VIDEO_BCM2835=m
CONFIG_VIDEO_CODEC_BCM2835=m
CONFIG_VIDEO_ISP_BCM2835=m